
Django==4.0.5
gunicorn==20.1.0
huggingface-hub==0.7.0
joblib==1.1.0
numpy==1.22.4
pandas==1.4.2
Pillow==9.1.1
scikit-learn==1.1.1
scipy==1.8.1
sentence-transformers==2.2.0
sentencepiece==0.1.96
sklearn==0.0
tokenizers==0.12.1
toml==0.10.2
torch==1.11.0
torchvision==0.12.0
transformers==4.19.4
urllib3==1.26.9
whitenoise==6.2.0
